.NavbarItems{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}
.navbar-logo{
  width: 6%;
  border-radius: 50%;
  justify-self: start;

  cursor: pointer;
  opacity: 1;
}
.fa-react{
  margin-left: 0.2rem;
  font-size: 11.6rem;
  color: black;
}
.nav-menu{
  display: grid;
  grid-template-columns: repeat(7,auto);
  grid-gap:10px;
  list-style: none;
  align-items: center;
  justify-content: end;
  
}
.nav-links{
  text-decoration:none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 0.1rem;
  white-space: nowrap;
  margin-right: 05rem;
}
.nav-links i{
  padding-right: 10px;
}
.nav-links:hover{

  background-color: #01959a;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.nav-links-mobile{
  display: none;
}
.sign-up-btn{
  padding: 0.5rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.sign-up-btn:hover{
  background-color: #151516;
  color: #fff;
}
.fa-bars{
  color: #222;
z-index: 999;

}
.menu-icons{
  display: none;
}
@media screen and (max-width:550px){
.NavbarItems{
  /* margin-right: 4rem; */
z-index: 999;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -110%;
    opacity: 1;  
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: all 0.3s ease;
    border-radius: 13px;
    z-index: -1;
    opacity: 1;


  }
  .nav-menu.active{
    left: 0rem;
    opacity: 1;
    z-index: -1;
    transition: all 0.3s ease-in-out;

  }
  .nav-links{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem 0;
    /* height: auto; */
  }
  .nav-links:hover{
    background-color: #01959a;
    transition: none;

  }
  .menu-icons{
    display: block;
    position: absolute;
    top: 25px;
    right:30px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav-links-mobile{
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background-color: #01959a;
    text-decoration: none;
    color:#fff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

.fa-times{
  color: #0b0b0b;
  

}
}